<!DOCTYPE html>

<head>
  <title>Awesome Kickball Super League Yeah</title>
  <link rel="stylesheet" href="kickball.css">
</head>

<body>
  <h1>Find Your Team Yeah!</h1>

  <ul>
      <a href="/simpson"><li><%= @team_names[0] %></li></a>
      <a href="/jetson"><li><%= @team_names[1] %></li></a>
      <a href="/flinestone"><li><%= @team_names[2] %></li></a>
      <a href="/griffin"><li><%= @team_names[3] %></li></a>
  </ul>
</body>
