<!DOCTYPE html>

<head>
  <title>Awesome Kickball Super League Yeah</title>
  <link rel="stylesheet" href="kickball.css">
</head>

<body>
  <h1>Team Simpson Slammers</h1>

  <ul>
    <% @simpson_info.each do |player| %>
      <li><%= "#{player[0]} #{player[1]}, Position: #{player[2]}"%></li>
    <% end %>
  </ul>
</body>
